<form id="order-form" data-toggle="validator" action="" role="form">
    <div class="form-group">
        <label for="input-name" class="control-label">Ім’я</label>
        <input type="text" class="form-control" id="input-name" placeholder="Ім'я, Прізвище" required/>
    </div>
    <div class="form-group">
        <label for="input-tel" class="control-label">Телефон</label>
        <input type="text" class="form-control" id="input-tel" placeholder="Номер телефону" required/>
    </div>
    <div class="form-group">
        <label for="input-address" class="control-label">Телефон</label>
        <input type="text" class="form-control" id="input-address" placeholder="Адреса доставки" required/>
    </div>
</form>